html {
  --lineHeight: 1.414;
  --backgroundColor: white;
  --color: black;
  --asideColor: #888;
  --spacing: 0.5rem;
  --largeSpacing: 2rem;
  --outerSpacing: 0.25rem;

  font-size: calc(100% * var(--lineHeight));
  color: var(--color);
  background-color: var(--backgroundColor);
}

@media (min-width: 40em) {
  html {
    --spacing: 0.75rem;
    --largeSpacing: 2rem;
    --outerSpacing: 1rem;
  }
}

@media (min-width: 75em) {
  html {
    --spacing: 0.75rem;
    --largeSpacing: 2rem;
    --outerSpacing: 1.5rem;
  }
}

body {
  line-height: 1rem;
  font-size: calc(1rem / var(--lineHeight));
}

.header {
  display: grid;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
}

.logo span {
  border: 1px solid;
  width: 1.5em;
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding-right: 0.5em;
  margin-right: -0.5em;
  text-indent: 0.125em;
  background-color: var(--backgroundColor);
}

.logo span:last-child {
  margin-right: 0;
  padding-right: 0;
  width: 1em;
  text-indent: 0;
}

.panel {
}

.panel + .panel {
  border-top: 0.125rem solid;
}

.calendar {
}

.lists {
}

.section {
  overflow: hidden;
  padding: var(--outerSpacing);
}

.section + .section {
  border-top: 0.17rem solid;
}

.section > * + *,
.grids > * + * {
  margin-top: var(--largeSpacing);
}

.section-title {
  font-weight: bold;
  line-height: 1.25rem;
  font-size: 1.25rem;
}

.selector {
  border-bottom: 0.125rem solid;
  display: inline-block;
  position: relative;
}

.selector + .selector {
  margin-left: 0.5rem;
}

.selector select {
  appearance: none;
  padding-right: 0.75em;
}

.year-selector,
.month-selector {
  appearance: none;
}

.year-selector::after,
.month-selector::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  height: 0;
  transform: translateY(-35%);
  border: 0.25em solid transparent;
  border-top-color: currentcolor;
  border-top-width: 0.375em;
  border-bottom-width: 0;
  pointer-events: none;
}

.selector:hover,
.selector:focus {
  background: hsl(211, 94.4%, 94.4%);
  border-color: hsl(211, 94.4%, 61.8%);
  color: black;
}

.inactive .section-title {
  text-decoration: underline;
}

.grids {
}

.grid {
  --gridWidth: 7;
  display: grid;
  grid-template: auto / repeat(var(--gridWidth), 1fr);
  width: 100%;
}

.entry {
  display: grid;
  position: relative;
  min-width: 0;
}
.entry.ethereal {
  color: var(--asideColor);
}

.grids:focus-within .entry {
  color: var(--asideColor);
}

.entry.entry:focus-within {
  width: fit-content;
  z-index: 2;
  position: relative;
  margin-right: -1px;
  color: var(--color);
}

.entry-body {
  display: grid;
  width: calc(100vw - var(--spacing) * 4 - var(--outerSpacing) * 2);
  max-width: 30rem;
  display: grid;
  border-radius: 0.25rem;
  border: 1px solid;
  background-color: var(--backgroundColor);
  box-shadow: -1px 0 0 var(--backgroundColor);
}

.entry-body:focus-within {
  box-shadow: 0 0 3rem hsla(0, 0%, 0%, 0.236);
}

.editor {
}

.editor + .editor {
  border-top: 1px solid;
}

.editor-title {
  display: block;
  position: absolute;
  bottom: 100%;
  white-space: nowrap;
  pointer-events: none;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 1.25rem;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
}

.month-and-year {
  visibility: hidden;
}

.entry:focus-within .month-and-year {
  visibility: visible;
}

.today .editor-title {
  text-decoration: underline;
}

.weekend.entry:focus-within .editor-title,
.weekend .editor-title {
  color: red;
}

.grids:focus-within .editor-title {
  color: inherit;
}

.textarea {
  width: 100%;
  resize: none;
  min-height: 100%;
  outline: none;
  padding: var(--spacing);
  position: relative;
  overflow: visible;
  /* font-family: "IBM Plex Mono", monospace, monospace; */
}
