html {
  font-size: 134.375%;
  color: white;
  background-color: #000;
}

body {
  line-height: 1rem;
  font-size: 0.75rem;
}

.browser {
  --collapsedWidth: 2rem;
  --listsOffset: 0px;
  --monthliesOffset: 0px;
  --dailiesOffset: 0px;
  pointer-events: none;
}

.lists {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
  display: grid;
  grid-auto-flow: column;
}

.timeline {
  position: relative;
  z-index: 1;
}

.month {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  display: grid;
  grid-auto-flow: column;
  z-index: 1;
}

.track {
  background-color: black;
}

.dailies-track {
  position: relative;
  z-index: 2;
  transform: translateY(var(--dailiesOffset));
}

.monthlies-track {
  position: relative;
  z-index: 1;
  transform: translateY(var(--monthliesOffset));
}

.lists-track {
  transform: translateY(var(--listsOffset));
}

.placeholder {
  visibility: hidden;
}

.entry {
  position: relative;
  width: calc(100vw - 2 * var(--collapsedWidth));
  max-width: 30rem;
  color: grey;
  padding: calc(var(--collapsedWidth) / 4);
  pointer-events: all;
}

.entry.daily {
}

.entry.monthly {
  position: sticky;
  top: 0;
}

.entry.list {
  border-left: none;
}

.active-dailies .month,
.active-dailies .lists {
  grid-template-columns:
    minmax(var(--collapsedWidth), max-content)
    minmax(var(--collapsedWidth), max-content)
    max-content;
}
.active-dailies .daily {
  color: white;
}

.active-monthlies .month,
.active-monthlies .lists {
  grid-template-columns:
    minmax(var(--collapsedWidth), max-content)
    max-content
    minmax(var(--collapsedWidth), max-content);
}
.active-monthlies .monthly {
  color: white;
  position: relative;
}

.active-lists .month,
.active-lists .lists {
  grid-template-columns:
    max-content
    minmax(var(--collapsedWidth), max-content)
    minmax(var(--collapsedWidth), max-content);
}
.active-lists .list {
  color: white;
}
.active-lists .timeline {
  position: fixed;
}
.active-lists .monthly {
  position: relative;
}
.active-lists .lists {
  position: relative;
}

h1 {
  font-weight: bold;
}

textarea {
  width: 100%;
  background: #222;
  padding: 0.5rem;
  resize: none;
  font-family: monospace, monospace;
}
