html {
  font-size: 134.375%;
  color: white;
  background-color: #000;
}

body {
  line-height: 1rem;
  font-size: 0.75rem;
}

.browser {
  --collapsedWidth: 2rem;
  pointer-events: none;
}

.timeline {
}

.month {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  display: grid;
  grid-auto-flow: column;
  z-index: 1;
}

.dailies-track {
  position: relative;
  background: black;
  z-index: 2;
}

.month-track {
  position: relative;
  background: black;
  z-index: 1;
  pointer-events: all;
}

.lists {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

.entry {
  position: relative;
  width: calc(100vw - 2 * var(--collapsedWidth));
  max-width: 30rem;
  color: grey;
  padding: calc(var(--collapsedWidth) / 4);
  pointer-events: all;
}

.entry.monthly {
  position: sticky;
  top: 0;
}

.entry.daily {
}

.entry.list {
  border-left: none;
}

.active-daily .month {
  grid-template-columns:
    minmax(var(--collapsedWidth), max-content)
    minmax(var(--collapsedWidth), max-content)
    max-content;
}
.active-daily .daily {
  color: white;
}

.active-monthly .month {
  grid-template-columns:
    minmax(var(--collapsedWidth), max-content)
    max-content
    minmax(var(--collapsedWidth), max-content);
}
.active-monthly .monthly {
  color: white;
  position: relative;
}

.active-list .month {
  grid-template-columns:
    max-content
    minmax(var(--collapsedWidth), max-content)
    minmax(var(--collapsedWidth), max-content);
}
.active-list .list {
  color: white;
}
.active-list .timeline {
  position: fixed;
}
.active-list .monthly {
  position: relative;
}
.active-list .lists {
  position: relative;
}

h1 {
  font-weight: bold;
}

textarea {
  width: 100%;
  background: #222;
  padding: 0.5rem;
  resize: none;
  font-family: monospace, monospace;
}
