.days {
  display: flex;
  align-items: flex-start;
}

.day {
  width: 4rem;
}

.day:focus-within {
  width: auto;
}

.dayCropper {
  overflow: hidden;
  border-left: 1px solid;
  border-right: 1px solid;
}

.dayTitle {
  padding: 0.25rem 0;
  text-transform: uppercase;
}

.editor {
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 24rem;
  max-width: 100vw;
  padding: 0.5rem;
}

.editor + .editor {
  border-top: none;
}

.editor.fillHeight {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.textArea {
  width: 100%;
  resize: none;
  outline: none;
}

.label {
  display: block;
  cursor: text;
}

.labelText {
  visibility: hidden;
}

.day:focus-within .labelText {
  visibility: visible;
}

.editor.fillHeight .label {
  flex-grow: 1;
}

.panels {
  position: fixed;
  height: 2rem;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

@supports (padding-top: max(1px, env(safe-area-inset-top))) {
  .panels {
    left: max(0, env(safe-area-inset-left));
    right: max(0, env(safe-area-inset-right));
    bottom: max(0, env(safe-area-inset-bottom));
  }
}

/* Navigation */
.toggle {
}

.menu {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: black;
}

.toggleButton {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}

.links > * {
  padding: 0.5rem 0;
}

.links > * + * {
  margin-left: 0.5rem;
  padding: 0.5rem 0;
}

/* Panels */
.panel {
  flex-grow: 1;
  overflow: hidden;
  background: black;
  display: flex;
  flex-direction: column;
}

.panelContent,
.panel.active {
  min-width: 76.4vw;
}

@media (min-width: 60em) {
  .panelContent,
  .panel.active {
    min-width: 0;
  }
}

.yearPanel,
.monthPanel {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.panelContent {
  max-width: 100vw;
  min-width: 10rem;
  padding: 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.panelContent {
}

.year,
.month,
.day {
}
