@charset "utf-8";

/*
  1 rem == baseline grid unit.
  The calc() function flexes the baseline grid,
  making everything automatically a bit bigger on larger screens,
  as long as you set every font-size, line-height, margin, padding etc.
  in rems.

  Edit the em value to change the grid's base size,
  but make sure the font-sizes still feel good on small screens.

  Edit the vw/vh/vmin values to change how much the grid flexes,
  but make sure your body text doesn't get huge in large viewports.

  Details on the technique:
  http://codepen.io/CrocoDillon/pen/jgmwt?editors=0010 */

html {
  --aside: hsl(0, 0%, 61.8%);
  --body: white;
  --error: hsl(20, 100%, 61.8%);
  --background: black;

  /* font-size: 133%; */
  /* font-size: calc(1.14em + 0.2vw + 0.2vh + 0.1vmin); */
  font-size: 150%;
  font-family: "IBM Plex Mono", monospace, monospace;

  background-color: var(--background);
  color: var(--aside);
}

body {
  line-height: 1rem;
  font-size: 0.666666667rem;
}
